@import './bases-styles.css';
@import './styles.css';
/* @import './font-awesome.css';
@import './ko-slider1.css';
@import './ko-grid1.css';
@import './ko-footer1.css'; */
/* @import 'https://unpkg.com/komercia-fuentes@1.0.0/styles.css'; */

.container-page {
  transition: all 0.3s ease-in;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.4s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}
.el-drawer {
  max-width: 350px !important;
  width: 100% !important;
}
.el-drawer .el-drawer__header {
  display: none;
}
.v-modal {
  display: none;
}
