@charset "UTF-8";

@font-face {
  font-family: "next-prev";
  src:url("fonts/next-prev.eot");
  src:url("fonts/next-prev.eot?#iefix") format("embedded-opentype"),
    url("fonts/next-prev.woff") format("woff"),
    url("fonts/next-prev.ttf") format("truetype"),
    url("fonts/next-prev.svg#next-prev") format("svg");
    font-display: auto;
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "next-prev" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "next-prev" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-prev:before {
  content: "\61";
}
.icon-next:before {
  content: "\62";
}
.icon-instagram:before {
  content: "\63";
}
.icon-instagrem:before {
  content: "\64";
}
.icon-facebook:before {
  content: "\65";
}
.icon-facebook-square:before {
  content: "\66";
}
.icon-youtube:before {
  content: "\67";
}
.icon-youtube-play:before {
  content: "\68";
}
.icon-twitter:before {
  content: "\69";
}
.icon-twitter-square:before {
  content: "\6a";
}
.icon-bars:before {
  content: "\6b";
}
.icon-cancel:before {
  content: "\6c";
}
.icon-shopping-cart:before {
  content: "\6d";
}
.icon-user:before {
  content: "\6e";
}
.icon-hand-o-up:before {
  content: "\6f";
}
.icon-heart:before {
  content: "\70";
}
.icon-search:before {
  content: "\71";
}
.icon-user-circle:before {
  content: "\72";
}
.icon-shopping-basket:before {
  content: "\73";
}
.icon-close:before {
  content: "\74";
}
.icon-menu:before {
  content: "\75";
}
.icon-029-wifi-1:before {
  content: "\76";
}
.icon-facebook-official:before {
  content: "\77";
}
.icon-paper-plane:before {
  content: "\7a";
}
.icon-paper-plane-2:before {
  content: "\41";
}
.icon-funnel:before {
  content: "\78";
}
.icon-filter:before {
  content: "\79";
}
.icon-023-free-delivery:before {
  content: "\44";
}
.icon-019-fast-delivery:before {
  content: "\45";
}
.icon-036-shipped:before {
  content: "\46";
}
.icon-039-delivery:before {
  content: "\47";
}
.icon-048-mobile-store:before {
  content: "\48";
}
.icon-049-wallet:before {
  content: "\49";
}
.icon-035-piggybank:before {
  content: "\4a";
}
.icon-030-24-hours:before {
  content: "\4b";
}
.icon-014-login:before {
  content: "\4c";
}
.icon-041-gift:before {
  content: "\4d";
}
.icon-012-refund:before {
  content: "\4e";
}
.icon-026-gift-1:before {
  content: "\4f";
}
.icon-129-placeholder:before {
  content: "\42";
}
.icon-map-1:before {
  content: "\50";
}
.icon-navigation:before {
  content: "\51";
}
.icon-placeholder-3:before {
  content: "\52";
}
.icon-time:before {
  content: "\53";
}
.icon-clock-1-1:before {
  content: "\54";
}
.icon-mail-5:before {
  content: "\55";
}
.icon-location:before {
  content: "\43";
}
.icon-facebook-places:before {
  content: "\57";
}
.icon-map-marker:before {
  content: "\58";
}
.icon-instagram-1:before {
  content: "\56";
}
.icon-whatsapp:before {
  content: "\59";
}
