.el-pagination--small .arrow.disabled,
.el-pagination {
  white-space: nowrap;
  padding: 2px 5px;
  color: #303133;
  font-weight: 700;
}
.el-pagination button:hover {
  color: #0cbe0f;
}
.el-pagination button:disabled {
  color: #c0c4cc;
  background-color: transparent;
  cursor: not-allowed;
}
.el-pagination .btn-next,
.el-pagination .btn-prev {
  background: center center no-repeat #fff;
  background-size: 16px;
  cursor: pointer;
  margin: 0;
  color: #303133;
}
.el-pagination .el-pager li.disabled {
  color: #c0c4cc;
  cursor: not-allowed;
}
.el-pagination__sizes {
  margin: 0 10px 0 0;
  font-weight: 400;
  color: #000000;
}
.el-pagination__sizes .el-input .el-input__inner:hover {
  border-color: #0cbe0f;
}
.el-pagination__total {
  margin-right: 10px;
  font-weight: 400;
  color: #000000;
}
.el-pagination__jump {
  margin-left: 24px;
  font-weight: 400;
  color: #000000;
}

.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li {
  margin: 0 5px;
  background-color: transparent;
  color: #000000;
  min-width: 30px;
  border-radius: 2px;
}
.el-pagination.is-background .btn-next.disabled,
.el-pagination.is-background .btn-next:disabled,
.el-pagination.is-background .btn-prev.disabled,
.el-pagination.is-background .btn-prev:disabled,
.el-pagination.is-background .el-pager li.disabled {
  color: #000000;
}

.el-pagination.is-background .btn-next:hover,
.el-pagination.is-background .btn-prev:hover {
  color: #c5262e;
}

.el-pagination.is-background .el-pager li:not(.disabled):hover {
  color: #c5262e;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #000000;
  color: #fff;
}
.el-tag {
  border-color: #e2e2e2;
  background-color: white;
  color: black;
  display: inline-block;
  height: 28px;
  margin-left: 2px;
  padding: 0 2px;
  font-size: 12px;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
  white-space: nowrap;
}

/* Sección de mi compra, css para componentes de element */
.help .icon-help > .material-design-icon__svg {
  height: 18px !important;
  width: 18px !important;
  color: #390dbd !important;
}
.content-state-bar .el-step__main .el-step__description {
  margin-top: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #383838 !important;
  max-width: 95px;
  width: 100%;
  margin: 0 auto;
  padding-right: 0px;
  margin-top: 10px;
  padding-left: 0px;
}
.content-state-bar .el-step__main .el-step__description.is-process {
  margin-top: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #383838 !important;
  opacity: 0.2;
  max-width: 95px;
  width: 100%;
  margin: 0 auto;
  padding-right: 0px;
  margin-top: 10px;
}
.content-state-bar .el-step__main .el-step__description.is-wait {
  margin-top: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #383838 !important;
  opacity: 0.2;
  max-width: 75px;
  width: 100%;
  margin: 0 auto;
  padding-right: 0px;
  margin-top: 10px;
}
.content-state-bar .el-step__head.is-process {
  color: #C0C4CC;
  border-color: #C0C4CC;
}
.content-sections .el-collapse-item .el-collapse-item__header {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: left;
  color: #383838;
  padding: 17.5px 0px;
  height: unset;
  border-bottom: 1px solid #EBEEF5;
}
.content-sections .el-collapse-item .el-collapse-item__header.is-active {
  border-bottom-color: transparent;
  color: #383838;
}
.content-sections .el-collapse-item:last-child .el-collapse-item__wrap {
  border-bottom-color: transparent;
  color: #383838;
}
.el-collapse-item__wrap {
  border-bottom: 1px solid #EBEEF5;
}
.content-sections .el-collapse {
  border-top: 1px solid #EBEEF5;
}
.content-sections .el-collapse-item .el-collapse-item__header [class*=" el-icon-"] {
  color: #390dbd;
}
.content-sections .el-collapse-item .el-collapse-item__header .el-collapse-item__arrow {
  font-weight: 600;
}
.form .el-input__inner {
  border: 1px solid #4a24b6 !important;
}
.content-state-bar-responsive .el-step__main .el-step__description {
  margin-top: 3px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #383838 !important;
}
.content-state-bar-responsive .el-step__main .el-step__description.is-process {
  margin-top: 3px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #383838 !important;
  opacity: 0.2;
}
.content-state-bar-responsive .el-step__main .el-step__description.is-wait {
  margin-top: 3px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #383838 !important;
  opacity: 0.2;
}
.content-state-bar-responsive .el-step__head.is-process {
  color: #C0C4CC;
  border-color: #C0C4CC;
}
.content-state-bar-responsive .el-steps--vertical {
  height: auto;
}
.content-state-bar-responsive .el-step.is-vertical .el-step__title {
  padding-bottom: 0px;
}
.swal2-title {
  font-family: 'Poppins', sans-serif;
}
.swal2-html-container {
  font-family: 'Poppins', sans-serif;
}
.swal2-styled.swal2-confirm  {
  font-family: 'Poppins', sans-serif;
}
/* Fin seccción de mi compra, css para componentes de element */
